

@charset "UTF-8";

body {
    background-color: #000000;
}

p {
    color: #26F0F3;
}

ul {
    color: #26F0F3;
    background-color: #0d3563;
}

li {
    color: #26F0F3;
}

h1 {
    color: #26F0F3;
    background-color: #643178;
}

h2 {
    color: #26F0F3;
    background-color: #643178;
}

h3 {
    color: #26F0F3;
    background-color: #643178;
}

a {
    color: #26F0F3;
}
ol{
    color: #26F0F3;
    background-color: #0d3563;
}
label{
    color: #26F0F3;
}
legend{
    color: #26F0F3;
}